{% extends 'Layout.html' %}
{% load bootstrap %}

{% block title %}
<title>Show Person Form</title>
{% endblock %}

{% block content %}
<style>
    .success_message
    {
    background-color: green;
    font-family: cursive;
    border=-radius: 10px;
    }
</style>
 <div class="container">
    <div class="row">
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
        {% endif %}
        {% endfor %}
        <a href="/product/personForm" class="btn btn-sm btn-primary ml-auto m-2 p-2">Add Person</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for key in key %}
                <tr>
                    <td>{{key.firstname}}</td>
                    <td>{{key.lastname}}</td>
                    <td>{{key.email}}</td>
                    <td>{{key.phone}}</td>
                    <td>
                        <a href="/product/updatepersonForm/{{key.id}}" class="btn btn-warning mr-3">Edit</a>
                        <a href="/product/deletepersonForm/{{key.id}}" onclick="return confirm('Are you sure, you want to delete')" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>
{% endblock %}