<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="#">WebDevelopment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{active_product}}">
        <a class="nav-link" href="/product/django_web">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{active_student}}">
        <a class="nav-link" href="/product/getForm">Students (Basic)</a>
      </li>
      <li class="nav-item {{active_stu}}">
        <a class="nav-link" href="/product/studentForm">Students (ModelForm)</a>
      </li>
      <li class="nav-item {{active_form}}">
        <a class="nav-link" href="/product/personForm">Person Model Form</a>
      </li>
      <li class="nav-item {{active_person}}">
        <a class="nav-link" href="/product/showpersonForm">Show Person Model Form</a>
      </li>
      <li class="nav-item {{active_file}}">
        <a class="nav-link" href="/product/getFile">File (Basic)</a>
      </li>
      <li class="nav-item {{activate_fileMF}}">
        <a class="nav-link" href="/product/getFileMF">FileMF (Basic)</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item {{activate_fileMF}">
        <a class="btn btn-danger btn-sm mx-2 d-flex mr-auto" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item {{activate_fileMF}}">
        <a class="btn btn-primary btn-sm mx-2" href="/">Login</a>
      </li>
      <li class="nav-item {{activate_fileMF}}">
        <a class="btn btn-warning btn-sm mx-2" href="/register">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>